<h1>Edit A Task</h1>

<form action="/tasks/<%=@task.id%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <label>Task Name</label>
  <input type="text" name="task[name]" id="name" value="<%= @task.name %>"">
  <label>Description</label>
  <input type="text" name="task[description]" id="description" value="<%= @task.description %>">
  <label>Deadline</label>
  <input type="text" name="task[deadline]" placeholder="mm/dd/yyyy (optional)" id="deadline" value="<%= @task.deadline %>">
  <input type="submit" name="" value="Submit">
</form>
