
<h1>Login Page</h1>


<form action="/login" method="post">
  <label for="username">Username</label>
  <input type="text" name="user[username]" id="username">
  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">
  <input type="submit" value="Submit">
</form>


<p><a href="/signup">Sign Up</a></p>
